<launch>
	<node pkg="pointcloud_registration" type="scan_accumulation" name="icp_map" output="screen" >
		<param name="odom_frame" value="iMiev/odom" />
		<param name="base_frame" value="iMiev/base_link" />
		<param name="map_frame" value="iMiev/map" />
		<param name="file_name" value="loam_testing" />
		<param name="directory_name" value="/home/weikang/rosbag/loam_testing" />
		<param name="offline_mapping" value="false" />
	</node>

	

</launch>
