<launch>
	<node pkg="pointcloud_navigation" type="path_reader" name="path_reader" output="screen" >
		<param name="path_file_name" value="$(find pointcloud_navigation)/path/path.txt" />
		<param name="path_topic" value="/wheelchair/3d_plan" />
		<param name="frame_id" value="/wheelchair/map" />
	</node>
</launch>
